* {
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #232326;
  background-attachment: fixed;
  max-width: 100vw;
  background-repeat: repeat-y;
  background-size: 100% auto;
  height: auto;
  margin: 0 auto;
  width: 100%;
}
/*---------make all images responsive-------------*/

img {
  max-width: 100%;
  height: auto;
}

/*---------header-------------*/
header {
  width: 100%;
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fffcf6;
  font-family: "MonteCarlo", cursive;
  font-size: 4rem;
  letter-spacing: 6px;
  padding: 3rem;
  padding: 3rem;
  margin: 0;
}

.nav-link {
  display: inline-block;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 50px;
  padding: 0.5rem 1rem;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #ffb400;
  border-radius: 30px;
  transition: background-color 0.4s, border-radius 0.4s, opacity 0.3s;
}

.nav-link:hover {
  background-color: #fffcf6;
  border-radius: 30px;
  transform: translateY(-2px);
  opacity: 0.6;
}

.nav-link.selected {
  background-color: #fffcf6;
  border-radius: 30px;
}
.nav-link:active {
  transition-duration: 0.3s;
}
nav {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #ffb400;
  position: relative;
  padding: 1.2rem;
  width: 100%;
}
nav a {
  display: inline-block;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 50px;
  padding: 0.5rem 1rem;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #ffb400;
  border-radius: 30px;
  transition: background-color 0.3s, border-radius 0.3s;
}
#nav a:hover {
  background-color: #fffcf6;
  border-radius: 30px;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.linken {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}
/*---------banner-------------*/

.hero-section {
  background-image: url(../img/home-background1.png);
  width: 63%;
  height: 22rem;
  border: 1px solid #ffb400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.text-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #ffb400;
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.5;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .text-overlay {
    font-size: 1.2rem;
    color: white;
  }
}
@media screen and (min-width: 1920px) {
  .hero-sectio {
    max-width: 1100px;
    max-height: 374px;
  }
}
/*---------portfolio-------------*/

.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5rem;
  align-items: center;
  width: 65%;
}
h2 {
  font-size: 2.5rem;
  color: #ffb400;
}
.port-text {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.research-text,
h4 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
h5 {
  font-size: 1rem;
  color: #a6a6a6;
  font-weight: 100;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
  padding-top: 0;
}
.first-row {
  display: flex;
  flex: 50%;
  gap: 2rem;
}
.secondary-row {
  display: flex;
  flex: 50%;
  gap: 2rem;
}
.research-1 > div {
  overflow: hidden;
}
.research-1 > div a img {
  transition: box-shadow 0.3s;
}
.research-1 a:hover img {
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .first-row,
  .secondary-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .research-1 > div {
    width: 100%;
  }
}

/*--------footer-------------*/
footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  padding: 2rem;
  background-color: #1a2a64;
  text-align: center;
  border-top: 2px solid #ffb400;
}
.welcome,
h3 {
  color: #ffb400;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.footer-text {
  color: #ffb400;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: lighter;
  line-height: 1.5;
}
h4 {
  font-family: "Averia Sans Libre", sans-serif;
}

/*---------------------research page-------------------*/
/*---------------------hero -------------------*/
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 65%;
  padding: 0;
}
.link {
  font-size: 1.3rem;
  margin-top: 0;
  color: #ffb400;
  text-align: center;
}
.title {
  font-size: 2rem;
  color: #eaf0ff;
  width: 65%;
  text-align: center;
}
@media screen and (max-width: 928px) {
  .title {
    font-size: 1.3rem;
    width: 70%;
  }
}
.pro-info {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(to right, #3e3e3c 0%, #1a2a64 100%);
  max-width: 100%;
  border: 1px solid #ffb400;
}

.pro-text {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 5rem;
  line-height: 2;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  color: #eaf0ff;
}
/*---------------------proesses-------------------*/
.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65%;
}
.text {
  text-align: center;
}
.three-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .three-pictures {
    grid-template-columns: repeat(1, 1fr);
  }
  .pro-title {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/*---------------------processes-------------------*/

.text-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-text {
  font-size: 1.1rem;
  color: #eaf0ff;
  text-align: left;
  line-height: 2;
}
.goals-text {
  flex: 50%;
  align-items: center;
  border: 1px solid #565656;
  gap: 10x;
  margin-top: 2rem;
  padding: 3rem;
}
.last-img {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.rest-work {
  margin-top: 5rem;
  margin-bottom: 0;
  border-top: 1px solid #d08b00;
}

/*---------------------mountain-------------------*/
.m1 {
  margin-bottom: 8rem;
  width: 100%;
}
.m2 {
  margin-bottom: 8rem;
  width: 100%;
}
.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.cell-text {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.heroimg {
  margin-top: 5rem;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}
.title-project-information {
  padding-top: 2rem;
}
.background-text {
  background-image: url(../img/english-background.png);
  width: 100%;

  border-top: 1px solid #ffb400;
  border-bottom: 1px solid #ffb400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.pro-title {
  margin-top: 5rem;
}
.project-text {
  width: 65%;
  font-size: 1.2rem;
  font-weight: 350;
  color: #ffb400;
  text-align: center;
  line-height: 2;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .project-text {
    white-space: normal;
    overflow: hidden;
    font-size: 1rem;
    text-align: center;
    width: 85%;
  }
  .pro-text {
    width: 85%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 2;
    text-align: left;
    font-weight: 300;
    color: #eaf0ff;
  }
  .intro-text {
    width: 80%;
  }
  h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .project-text {
    white-space: normal;
    font-size: 0.8rem;
    text-align: center;
    width: 85%;
  }
  .intro-text {
    width: 80%;
  }
  h2 {
    font-size: 1.3rem;
  }
  .pro-text {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 2;
    text-align: left;
    font-weight: 300;
    color: #eaf0ff;
  }
}

@media screen and (max-width: 520px) and(min-width: 375px) {
  .project-text {
    width: 90%;
    height: auto;
    white-space: normal;
    overflow: hidden;
    font-size: 1rem;
    text-align: center;
  }
  .background-text {
    height: auto;
  }
  .title-project-information {
    padding-top: 2rem;
  }
  .backruound-text {
    background-color: #242425;
  }
  .port-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.process-text2 {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 200;
  width: 65%;
  line-height: 2;
}

.p-img {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.p-text {
  color: #eaf0ff;
  border: 1px solid #ffb400;
  border-radius: 15px;
  background-image: linear-gradient(to right, #3e3e3c 0%, #1a2a64 100%);
  width: 45%;
  padding: 4rem;
  line-height: 2;
}

/*---------------------------------user---------------------------------*/

.taobao-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  background-color: #584839;
  padding: 4rem;
  border-radius: 15px;
 
}
.taobao-text{
  color: #FFECDB;
  line-height: 2;
}
.taobao-title{
  color: #FFECDB;
  font-size: 2.1rem;
  padding-top: 0;
  margin-top: 0;
}
.text-introduction {
  display: flex;
  justify-content: center;
  margin-top:2rem;
  margin-botttom:2rem;
  align-items:flex-start;
  gap:12rem;

}
.text-intro1 {
  text-align: left;
  color: #ffecdb;
}
.text-intro1 ul {
  padding: 0;
  margin: 0;
  line-height: 2;
}
.four-img {
  background-image: url("../img/user-background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}
.one-row {
  display: flex;
  gap: 2rem;
  width: 65%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.two-row {
  width: 65%;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1400px) {
  .one-row,
  .two-row {
    display: block;
    width: 100%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393937;
    margin: 10px 10px;
  }
  .p-text {
    width: 65%;
  }
}
@media screen and (min-width: 1200px) {
  .p-text {
    width: 65%;
  }
}

.circles-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-title{
  font-size: 2.1rem;
  color: #F7F6F6;
}
.circle{
  background-color: #F7F6F6;
  width: 65%;
  border-radius: 15px;
  align-items: center;
  padding: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  line-height: 2;
}
.text-introduction2{
  display: flex;
  justify-content: center;
  margin-top:20px
  margin-botttom:20px;
  align-items:flex-start;
  gap:12rem;
}

.ux-r-text{
  width: 65%;
  text-align: left;
  color:#F7F6F6;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.ux-title{
  color:#F7F6F6;
  text-align: left;
}
.uxtext-a{
  line-height: 2;
}


.five-phones{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.phone1{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}
.phone-text1{
  color: #584839;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 2;
  width: 42%;
}
.phone2{
  background-color: #79614D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  

}
.phone-text{
  color: #F7F6F6;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 2;
  width: 42%;
}

.insights{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#F7F6F6;
  width: 65%;
  line-height: 2;
}
.research-insight-title{
  width: 100%;
}
.insight-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
 
  
}
.ins-text{
  background-color: #F7F6F6;
  border-radius: 15px;
  color: #584839;
  padding: 2rem;
  border-radius: 14px;
}
.interview{
  padding-top: 2rem;
}
.interview-title{
  margin: 0 auto;
  width: 65%;
  margin-bottom: 2rem;
  text-align: left;
}
.customer-picture1{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.customer-picture2{
  margin-bottom: 4rem;
}

.design-principle{
  width: 65%;
  color: #F7F6F6;
  line-height: 2;
  margin-bottom: 4rem;
}
.design-text{
  text-align: left;
  
}
.m-f{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.p-a{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.p-m{
  width: 85%;
}
.costomer-four{
  margin-bottom: 4rem;
}
.costomer-picture2{
  margin-top: 4rem;
  margin-bottom: 4rem;

}
.community-picture2{
  margin-top: 4rem;
  margin-bottom: 4rem;

}
.rating-system{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.rating-text{
  width: 65%;
  color: #F7F6F6;
  line-height: 2;
  margin-top: 4rem;
  margin-bottom: 4rem;

}



/*--------- Chinese work--------*/
.graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  max-width: 65%;
}
.row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
}
.row-2 {
  margin-top: 5rem;
}
.graphic-text {
  text-align: center;
  font-size: 2.5rem;
}
.Visual-title2 {
  margin-top: 5rem;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .imges {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  .row-1,
  .row-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .process-text2 {
    font-size: 0.8rem;
    width: 90%;
  }
}

/*------------resume-------------*/
.email {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5rem;
}
.me {
  width: auto;
  min-width: 200px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.intro {
  background-image: url(../img/resume-back.png);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  border-top: 1px solid #d08b00;
  border-bottom: 1px solid #ffb400;
}
.intro-text {
  color: #eaf0ff;
  font-weight: 300;
  font-family: "Scada", sans-serif;
  font-style: italic;
  width: 25%;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 2.5rem;
}
.resume {
  display: flex;
  flex-direction: row;
  align-items: flex-startc;
  justify-content: center;
  width: 65%;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.left {
  color: #dee4f4;
  width: 68%;
  line-height: 1.8;
  font-weight: 300;
  font-size: 1rem;
}
.right {
  color: #eaf0ff;
  font-weight: 300;
  width: 32%;
  line-height: 1.8;
  font-size: 1rem;
}
.name {
  font-family: "Scada", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #d08b00;
}
.title2 {
  font-family: "Scada", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffb400;
}
.detail {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .resume {
    flex-direction: column;
    align-items: center;
  }
  .intro {
    flex-direction: column;
    align-items: center;
  }
  .left,
  .right {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }
  .intro-text {
    width: 80%;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 520px) {
  h1 {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 0.8rem;
    margin: 0 20px;
  }
  h2 {
    font-size: 1.3rem;
  }
  p,
  h3,
  h4 {
    font-size: 1.2rem;
  }
  .portfolio {
    width: 80%;
  }
  .title {
    font-size: 1.1rem;
    width: 100%;
  }
  .project {
    width: 100%;
  }

  .hero-section {
    width: 100%;
  }
  .text-overlay {
    font-size: 1rem;
    font-weight: 400;
    width: auto;
  }
  .research-text {
    font-size: 1.4rem;
  }
  .intro-text {
    width: 80%;
  }
  .hero-container {
    width: 80%;
  }
  .project-text {
    font-size: 0.9rem;
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
  }
  .goals-text {
    width: 100%;
    padding: 1.5rem;
  }
  .text-1 {
    width: 100%;
  }
  .first-row .secrondary-row {
    width: 100%;
  }
  .title {
    text-align: center;
    font-size: 1.4rem;
  }
  .p-text {
    width: 80%;
    padding: 1rem;
  }
  .Visual-title {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .pro-text {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .small-title {
    font-size: 0.8rem;
  }

  .p1 {
    width: 80%;
    height: auto;
    display: block;
    margin: 10px 10px;
  }
}
